/* DESIGN */
.auth-main-container *{
    color: rgb(153, 153, 153);;
}

.auth-main-container h2{
    font-size: 2rem;
}

.auth-main-container label{
    font-size: 0.9rem;
}

.auth-main-container input{
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(51, 51, 51);
    padding: 10px 0px 10px 15px;
    width: 90%;
    border-radius: 5px;
    margin: 2px 0px;
    font-size: 1.1rem;
    outline: none;
}

.auth-main-container input:focus{
    border: 1px solid rgb(110, 110, 110);
}

.auth-main-container a{
    color: rgb(104, 104, 253);
    font-size: 0.9rem;
}

.access-submit-btn{
    width: 92%;
    margin-top: 30px;
    font-size: 1.2rem;
    padding: 10px 0px;
    color: black;
    border-radius: 5px;
}

.access-select{
    margin-top: 20px;
    font-size: 0.9rem;
}

/* CONTAINERS */
.auth-main-container{
    width: 60%;
    height: auto;
}

.access-input-container:first-of-type {
    margin-top: 30px;
}

.access-input-container{
    margin-top: 10px;
}