.show-details-container{
    width: 90%;
    height: auto;
}

.seats-select-container{
    width: 100%;
    height: auto;
}

svg{
    width: 650px;
    height: 650px;
    background-color: rgb(247, 247, 247);
}
.seat {
  stroke: #1aa94c;
  fill: transparent;
  cursor: pointer;
  transition: 0.2s ease;
}

.seat.available:hover {
  fill: #1aa94c;
}

.seat.selected {
  fill: #1aa94c;
}

.seat.sold {
  fill: #bdbdbd;
  stroke: #8a8a8a;
  cursor: not-allowed;
}

.seats-price-details{
    width: 100%;
    height: auto;
    padding: 50px 0px;
}

.pay{
    width: 100%;
    height: 20px;
    background-color: purple;
    padding: 30px 0px;
    border-radius: 25px;
    margin-bottom: 20px;
}