.user-main-container{
    width: 100%;
    height: auto;
    padding: 30px 0px;
    font-family: "Inter", sans-serif;
}

.banner-main-container{
    width: 70%;
    height: 30vh;
    background-color: red;
    overflow: hidden;
    border-radius: 10px;
}

.movies-main-container{
    width: 80%;
    padding: 80px 0px;
    height: auto;
}

.movies-display-container{
    margin-top: 10px;
}

.user-card{
    width: 18%;
    height: auto;
    background-color: pink;
    border-radius: 10px;
    overflow: hidden;
}

.card-image{
    width: 100%;
    height: 45vh;
}

.card-rating-container{
    height: 3vh;
    background-color: black;
    color: white;
}

.movies-display-container h4{
    font-weight: 300;
    font-size: 0.8rem;
    margin: 0px 5px;
}

.movies-display-container h3{
    font-size: 1rem;
    margin-top: 10px;
}

.star{
    width: 20px;
    height: 20px;
}

.card-genre{
    margin-top: 10px;
}

.card-genre-container{
    color: blue;
    margin: 5px 2px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(203, 203, 238);
}