.navbar-main-container{
    width: 100%;
    height: 120px;
}

.navbar{
    width: 60%;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgb(87, 87, 87);
    position: fixed;
    overflow: hidden;
    background-color: rgb(36, 36, 36);
}
.navbar-section-one{
    width: 98%;
    height: 70px;
}

.navbar a{
    color: rgb(218, 218, 218);
}

.navbar-section-one input{
    padding: 10px 20px;
    font-size: 1rem;
    width: 80%;
    height: 20px;
    background-color: rgb(63, 63, 63);
    outline: none;
    border: 0px;
    color: white;
    border-radius: 5px;
}

.navbar-section-one input:focus{
    outline: none;
}

.navbar-section-one-partition{
    width: 60%;
    padding: 0px 5px 0px 0px;
}

.logout-icon{
    width: 30px;
    height: 30px;
}

.logo-icon{
    width: 50px;
    height: 50px;
}

.profile-icon{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: orange;
    margin: 0px 20px;
}

.navbar button:hover{
    border-radius: 5px;
    background-color: rgb(54, 54, 54);
}

.navbar-section-two{
    height: 30px;
    background-color: rgb(24, 24, 24);
}

.div-98{
    width: 98%;
    height: inherit;
}

.nav-links{
    font-size: 0.8rem;
    margin: 0px 20px 0px 0px;
    color: red;
}

.nav-links-right{
    font-size: 0.8em;
    margin-left: 20px;
}

.navlink:hover{
    color: white;
}
