.main-container-display{
    height: auto;
    padding: 20px 0px;
}

.admin-movie-filters{
    height: 30px;
    padding: 10px 0px;
}

.admin-movie-filters button{
    padding: 5px 10px;
    background-color: white;
    border: 1px solid black;
}

.admin-main-display{
    width: 95%;
    height: auto;
}

.movie-table {
    width: 100%;
    border-collapse: collapse;  /* VERY IMPORTANT */
    table-layout: fixed;        /* keeps alignment perfect */
    font-family: "Inter", sans-serif;
}

.movie-table th,
.movie-table td {
    padding: 6px;
    text-align: left;
}

.movie-table th {
    font-weight: bold;
    text-align: center;
}

.table-body td{
    text-align: center;
}

thead{
    border: 2px solid rgb(177, 177, 177);
}


.poster-image{
    width: 150px;
    height: 200px;
}


.admin-key-btn{
    padding: 10px 10px;
    font-size: 0.9rem;
    margin: 0px 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}

.edit-btn{
    background-color: orange;
}

.delete-btn{
    background-color: red;
}