.admin-control-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    transition: transform 0.2s ease-in-out;
    animation: popup 0.2s ease-in-out forwards;
    transform-origin: center;
    background-color: #444444b7;
}

.control-show{
    display: flex;
}

.control-hide{
    display: none;
}


.filters-admin-container{
    width: 100%;
    height: 80px;
    font-family: "Inter", sans-serif;
}

.filter-container{
    width: 90%;
    height: inherit;
}

.filters-admin-container button{
    background-color: white;
    padding: 10px 30px;
    border: 1px solid black;
}

.admin-display-main-container{
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

.admin-display-main-container *{
    font-family: "Inter", sans-serif;
}

.admin-display-container{
    width: 90%;
    height: auto;
    padding: 30px 0px;
}


/**/

.add-edit-main-container {
    width: 50%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    font-family: "Inter", sans-serif;
}

@keyframes popup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.back {
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.back:hover {
    text-decoration: underline;
    opacity: 0.7;
}


.add-movie-container {
    width: 100%;
    display: flex;
}

.movie-form {
    width: 100%;
    border-radius: 5x;
}

.movie-form h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
    color: #333;
}

.movie-form input,
.movie-form textarea {
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1.1rem;
    margin: 5px 0px;
    padding: 10px 0px 5px 10px
}

.movie-form textarea {
    height: 80px;
    resize: none;
}

.movie-form label {
    margin-top: 5px;
    font-size: 14px;
    color: #444;
}

.movie-form button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.movie-form button:hover {
    background: #005fcc;
}


/**/


table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;      /* 🔥 Forces equal column widths */
}

thead th{
    border:2px solid black
}

tbody td {
    padding: 8px;
    text-align: center;
    width: 120px;
    border:1px solid rgb(211, 211, 211)
}

tbody tr {
    height: 300px;             
}

td img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.admin-btn{
    padding: 5px 10px;
    margin: 0px 10px
}

.admin-delete{
    background-color: red;
    font-weight: bold;
    border: 1px solid black;
}

.admin-edit{
    background-color: rgb(255, 145, 0);
    font-weight: bold;
}