.filter-movie-container {
    width: 80%;
    height: 50px;
    padding: 5px 5px;
    border: 1px solid grey;
    border-radius: 10px;
}

.filter-movie-container button {
    padding: 10px 10px;
    border-radius: 10px;
    background-color: white;
}

.movie-display-container {
    width: 80%;
    height: auto;
    padding: 30px 0px 10px 0px;
    font-family: "Inter", sans-serif;
}

.movie-display {
    width: 45%;
    height: auto;
    padding: 20px 5px;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 10px 0px;
}

.movie-card-image {
    width: 38%;
    height: auto;
}

.movie-card-container {
    width: 60%;
    height: 40vh;
}

.movie-poster-image {
    width: 100%;
    object-fit: cover;
}

.movie-card-container p {
    margin: 20px 0px;
}

.movie-card-container span {
    margin-top: 10px;
}

.card-genre {
    margin: 10px 0px;
}

.admin-action-container {
    width: 100%;
    height: 24%;
}

.admin-action-container button {
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.movie-desc {
    width: 100%;
    height: 18%;
    overflow: hidden;
}

.movie-display h3 {
    font-weight: 500;
    font-size: 1rem;
}

.movie-display h3 span {
    font-weight: bold;
}

.card-genre-container-admin {
    color: blue;
    margin: 5px 5px 5px 0px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(203, 203, 238);
}

.admin-edit {
    background-color: orange;
    font-size: 1.2rem;
}

.admin-delete {
    background-color: rgb(255, 72, 0);
    font-size: 1.2rem;
}

.admin-control-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(133, 133, 133, 0.781);
    transition: transform 5s ease-in-out;
    background: rgba(255, 255, 255, 0.007);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.admin-control-show {
    transform: translateY(0);
    transition: transform 5s ease-in-out;
}

.admin-control-hide {
    transform: translateY(-100vh);
    transition: transform 5s ease-in-out;
}

.admin-control-child {
    width: 50%;
    height: 60vh;
    background: white;
    border-radius: 10px;
    padding: 20px;
}


.admin-control-child {
    width: 50%;
    height: auto;
    background-color: rgb(32, 32, 32);
    border: 1px olsid black;
}

.admin-control-child input{
    width: 90%;
    margin: 10px 0px;
    padding: 8px 5px 8px 10px;
    border-radius: 5px;
}

.admin-control-child textarea{
    width: 90%;
    margin: 10px 0px;
    padding: 8px 5px 8px 10px;
    border-radius: 5px;
}

.admin-control-child form{
    width: 90%;
}

.admin-control-child label{
    color: white;
}
